<html>
    <head>  
        <title>About</title>
        <link rel="icon" href="/img/weather.jpg">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <div class="container">
                <section class="about">
                    <p>Welcome to WeatherApp! Our mission is to provide accurate and up-to-date weather information to help you plan your day, stay safe, and make informed decisions. We believe that everyone should have access to reliable weather data, and our team is dedicated to ensuring that our service meets this goal.</p>
                    <p>Our application is built using Node.js, leveraging the latest technology to deliver fast and reliable weather updates. We source our data from trusted weather services to ensure accuracy and comprehensiveness.</p>
                    <p>At WeatherApp, we are passionate about weather and technology. Our team consists of experienced developers, meteorologists, and designers who work together to create a user-friendly and informative platform.</p>
                    <p>Thank you for choosing WeatherApp. We hope you find our service valuable and informative. If you have any questions or feedback, please don't hesitate to contact us.</p>
                    
                    <p><strong>This site is created by Het Gangani. It uses data from weatherapi.com and geoapify.com for forecasting weather and locating location with the help of latitude and longitude</strong></p>
                </section>
            </div>
        </div>

        {{>footer}}
    </body>
</html>