<html>
    <head>
        <title>Help</title>
        <link rel="icon" href="/img/weather.jpg">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <div class="container">
                <section class="help">
                    <p>Welcome to the WeatherApp Help page. Here you can find answers to frequently asked questions and guidance on how to use our application.</p>
        
                    <div class="faq">
                        <h2>Frequently Asked Questions</h2>
                        
                        <h3>How do I get the weather for my location?</h3>
                        <p>Simply enter your city or zip code into the search bar on the home page and click the search button. The weather information for your location will be displayed.</p>
                        
                        <h3>How often is the weather data updated?</h3>
                        <p>Our weather data is updated every hour to ensure you have the most accurate and up-to-date information.</p>
                    </div>
                </section>
            </div>
        </div>
        {{>footer}}
    </body>
</html>